{% extends 'map_system/commons/header.html' %}
{% load staticfiles %}
{% block body_context %}
    {% include 'map_system/content/nav_bar.html' %}
    {% include 'map_system/content/side_nav_bar.html' %}
    <div id="container">
        <!-- Sidebar -->
        <div id="map"></div>

    </div>

    <div id="objectInfo" style="background: darkgray;display: none;border-radius: 13px;height: 94%;padding: 0"
         class="col-md-2 pull-right">
        <div class="panel-heading text-center">
            <h4> Spatial Object ID: <span id="objectInfoId" class="text-info"></span>
                <i id="objectInfoCloseButton" class="fa fa-times pull-right"
                   onclick="$('#objectInfo').animate({width: ['toggle','swing']},200);toggled = false;spatialObject = currentSpatialObjects[selectedSpatialObject];spatialObject.removePath();spatialObject.marker.closePopup();selectedSpatialObject = null;">
                </i>
            </h4>
        </div>
        <div class="panel panel-default" style="max-height: 47%;overflow: auto;box-shadow: 0 0 8px 0 #635749">
            <div class="panel-heading text-center"><h4>Speed variation</h4>
            </div>
            <div class="panel-body">
                <!-- TODO:  setting `margin-left` to increase the area of the chart is a bad hack there should be a better way to do this check :P -->
                <div style="margin: 0;border: none;margin-left: -25px" id="chart_div"></div>
            </div>
        </div>

        <div class="panel panel-default" style="max-height: 47%;overflow: auto;box-shadow: 0px 0px 8px 0px #635749">
            <div class="panel-heading text-center">
                <div class="panel-title"><h4>Alerts</h4></div>
            </div>
            <div class="panel-body" style="padding: 0px">
                <div id="showAlertsArea" class="list-group" style="margin-top: 15px">

                </div>

            </div>
        </div>
        <!--/panel-->
    </div>

    <div id="loading">
        <div class="loading-indicator">
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" style="width: 100%"></div>
            </div>
        </div>
    </div>


    <!-- Modals in use -->
    {% include 'map_system/content/about.html' %}
    {% include 'map_system/content/history.html' %}

    <!-- /.modal-content -->
    <!-- /.modal-dialog -->
    <!-- /Modals in use -->


    <!-- Combined and compiled JS with google closure compile-->
    {% include 'map_system/content/marker_popup.html' %}

    <!-- markup for setup dashboard wizard content -->
    {% include 'map_system/commons/setup_wizard/index.html' %}

    <!-- ** comment out below library if using minified library **  -->
    <script src="{% static 'map_system/local/app.js' %}"></script>

{% endblock %}
