<nav class="indigo darken-1">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Knnect</a>
        <ul class="right hide-on-med-and-down element-with-search">
            <li>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="searchbox" class="autocomplete" data-activates="singleDropdown"
                               data-beloworigin="true" autocomplete="off">
                        <label for="searchbox">IMEI / Vehicle #</label>
                    </div>
                    <ul id="singleDropdown" class="dropdown-content ac-dropdown autocomplete-content"></ul>
                </div>
            </li>
            <li>
                <a class="btn-floating btn-mini waves-effect waves-light red side-nav-bar" data-activates="slide-out"><i class="material-icons">add</i></a>
            </li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!">Settings</a></li>
                    <li><a href="#!">About</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>