<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Knnect Object Tracking and Prediction System">
    <meta name="author" content="Kasun Thennakoon">
    <title>{{ page_title }}</title>

    {% load staticfiles %}

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'map_system/images/favicon-76.png' %}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'map_system/images/favicon-120.png' %}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'map_system/images/favicon-152.png' %}"/>

    <link rel="icon" sizes="196x196" href="{% static 'map_system/images/favicon-196.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'map_system/images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    {#    Load Bootstrap from common knnector static files #}

    <script src="{% static 'jquery/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'noty/jquery.noty.packaged.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'map_system/libraries/materialize/css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'map_system/libraries/materialize/js/materialize.min.js' %}"></script>
    {% comment %}https://github.com/icefox0801/materialize-autocomplete{% endcomment %}
    <script src="{% static 'map_system/libraries/materialize/autocomplete/jquery.materialize-autocomplete.js' %}"></script>

    <!-- Leaflet styles -->
    {#    TODO: Have use Leaflet Beta relese 1.0 , Replace with latest production version when available(JS only) #}
    {#    TODO: leaflet.css is used from older geo-dashboard app , since latest one gives errors (markers are not visible with leaflet new CSS), replace or fix it #}
    <link rel="stylesheet" href="{% static 'map_system/libraries/leaflet/leaflet.css' %}"/>
    <script src="{% static 'map_system/libraries/leaflet/leaflet-src.js' %}"></script>

    <link rel="stylesheet" href="{% static 'map_system/libraries/leaflet/locatecontrol/bin/L.Control.Locate.css' %}"/>
    <script src="{% static 'map_system/libraries/leaflet/locatecontrol/bin/L.Control.Locate.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'map_system/libraries/leaflet/markercluster/bin/MarkerCluster.css' %}"/>
    <script src="{% static 'map_system/libraries/leaflet/markercluster/bin/leaflet.markercluster.js' %}"></script>

    <link rel="stylesheet" href="{% static 'map_system/libraries/leaflet/fullscreen/bin/Control.FullScreen.css' %}"/>
    <script src="{% static 'map_system/libraries/leaflet/fullscreen/bin/Control.FullScreen.js' %}"></script>

    <link rel="stylesheet" href="{% static 'map_system/libraries/leaflet/draw/bin/leaflet.draw.css' %}"/>
    <script src="{% static 'map_system/libraries/leaflet/draw/bin/leaflet.draw.js' %}"></script>

    <link rel="stylesheet"
          href="{% static 'map_system/libraries/leaflet/groupedlayercontrol/bin/leaflet.groupedlayercontrol.min.css' %}"/>
    <script src="{% static 'map_system/libraries/leaflet/groupedlayercontrol/bin/leaflet.groupedlayercontrol.min.js' %}"></script>

    <script src="{% static 'map_system/libraries/leaflet/plugins-1.3.9/layer/Marker.Rotate.js' %}"></script>


    <!--bootstrap-application-wizard-->
    <link rel="stylesheet" href="{% static 'map_system/libraries/bootstrap-wizard/bootstrap-wizard.css' %}">
    <script src="{% static 'map_system/libraries/bootstrap-wizard/bootstrap-wizard.min.js' %}"></script>

    <!--TODO: use http://requirejs.org/ for better performance, now we have too many imports  -->
    <!-- C3 chart library styles-->
    <link rel="stylesheet" href="{% static 'map_system/libraries/c3/c3.min.css' %}">
    <script src="{% static 'map_system/libraries/d3/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'map_system/libraries/c3/c3.min.js' %}"></script>


    <!-- TODO: for reference <Update lib or remove if not in use>: This `R`(RaphaelLayer: https://github.com/dynmeth/RaphaelLayer) library is dam buggy can't use it reliably -->
    <!--<script src="assets/js/leaflet/rlayer.js"></script>-->
    <!--<script src="assets/js/leaflet/raphael-min.js"></script>-->

    <script src="{% static 'map_system/libraries/typeahead/typeahead.bundle.js' %}"></script>


    <!-- Self javascript libraries (Order of the import is very important, changing the order might shadow some variables, append new script to bottom ) -->
    <script src="{% static 'map_system/local/application_options.js' %}"></script>
    <script>
        ApplicationOptions.constance.STATIC_URL = "{% static '' %}";
    </script>
     <link rel="stylesheet" href="{% static 'map_system/libraries/app.css' %}">
    <script src="{% static 'map_system/local/spatialObject.js' %}"></script>
    <script src="{% static 'map_system/local/libraries/bin/utils.bundle.js' %}"></script>
    <script src="{% static 'map_system/local/libraries/bin/services.bundle.js' %}"></script>
    <script src="{% static 'map_system/local/websocket.js' %}"></script>
    <script src="{% static 'map_system/local/geo_remote.js' %}"></script>
    <script src="{% static 'map_system/local/geo_fencing.js' %}"></script>
    <script src="{% static 'map_system/local/ajax_csrf_protect.js' %}"></script>

    <!-- Combined and compiled JS with google closure compile-->
    <!--<script src="{% static 'map_system/local/application_options.js' %}"></script>-->

    <style>
        /*
        TODO: Move this styles to separate CSS for clarity.
        */

        #mapSearch {
            border: 0;
        }

        .leaflet-top {
            /*To prevent cutting off the top element by header bar in dashboard*/
            top: 50px;
        }

        .leaflet-right {
            /* to prevent showing layers controller over objectInfor side pane */
            z-index: 0;
        }

        .leaflet-popup-content {
            width: 200px;
            margin: 6px;
        }

        #objectInfoCloseButton:hover {
            cursor: pointer;
            color: firebrick;
        }

        .sectionJointStyle {
            stroke-dasharray: 3, 20;
        }
    </style>

</head>

<body style="margin: 0;padding: 0;">

{% block body_context %}

{% endblock %}

</body>
</html>